<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>

  <%- include('./partials/nav.ejs') %>

  <body>    
    <div class="home-content">

      <% data.forEach(msg => { %>
        <div class="msg-box">
          <div class="msg-box-top">
            <h3><%= msg.user %></h3>
          </div>
        
          <div class="msg-box-bottom">
            <p class="msg-box-date">Created on: <%= msg.createdAt.toDateString() %></p>
  
            <p>
              <%= msg.userMsg %>
            </p>
          </div>
        </div>
      <% }) %>
      
    </div>
  </body>
</html>
